.close-button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
}

.parent {
    display: flex; /* فرزندانش به صورت افقی کنار هم قرار می‌گیرن (به طور پیش‌فرض). */
    flex-wrap: wrap; /* این خط باعث میشه اگر جا کم بود، آیتم‌ها به خط بعدی برن */
    gap: 10px; /* فاصله بین divها */
    margin-bottom: 20px;
}

.child {
    width: 400px;
    min-height: 100px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: lightblue;
    cursor: pointer;
}


#dropZone {
    border: 2px dashed #aaa;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
}

.file-item {
    margin: 10px 0;
}

.progress-bar {
    width: 100%;
    background: #eee;
    height: 10px;
    margin-top: 5px;
}

.progress-fill {
    height: 100%;
    color: white;
    background: #4caf50;
    width: 0%;
}

.centered {
    display: flex;
    justify-content: center; /* افقی */
    align-items: center;     /* عمودی */
    height: 100%;           /* ارتفاع کامل صفحه */
}