<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title th:text="${title}">title</title>-->
</head>

<!--
<link media="all" th:href="@{'/resource/'+${version}+'?path=css/upload-download.css'}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{'/resource/'+${version}+'?path=js/upload-download.js'}"></script>
-->

<script type="text/javascript" th:src="@{'/resource/'+${version}+'?path=js/html5.js'}"></script>

<script type="application/javascript">



        const jwtToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."; // اینو از login API بگیر

        // اتصال با توکن در query string
        //const socket = new WebSocket(`wss://localhost:8080/ws?token=${jwtToken}`);
        const socket = new WebSocket(`wss://localhost:8443/spring/ws`);

        socket.onopen = () => {
            logMessage("✅ اتصال برقرار شد");
        };

        socket.onmessage = (event) => {
            var response = JSON.parse(event.data);
            var icon = "📩 دریافت: ";
            if (response.type == "sender") {
                icon = "📤 ارسال: ";
            }
            logMessage(icon + response.email + ": " + response.message);
        };

        socket.onclose = () => {
            logMessage("❌ اتصال بسته شد");
        };

        socket.onerror = (error) => {
            logMessage("⚠️ خطا: " + error.message);
        };

        function sendMessage() {
            const input = document.getElementById("messageInput");
            const msg = input.value;
            socket.send(msg);
            //logMessage("📤 ارسال: " + msg);
            input.value = "";
        }

        function logMessage(msg) {
            const messagesDiv = document.getElementById("messages");
            const p = document.createElement("p");
            p.textContent = msg;
            messagesDiv.appendChild(p);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }


        function refreshToken() {
            html5.ajax({
                url: `/spring/refresh/token`,
                method: 'POST',
                headers: {
                    'Accept-Language': 'fa',
                    'Content-Type': 'application/json'//,
                    //'Authorization': 'Bearer your-token'
                },
                body: null,
                responseType: 'json' // یا 'text', 'xml', 'base64', 'blob', 'arraybuffer'
            }).then(response => {
                //console.log('Status:', response.status);
                //console.log('Headers:', response.headers);
                console.log('Body:', response.body);

            }).catch(error => {
                console.error(error);
            });
        }

        setInterval(refreshToken, 14 * 60000);


</script>


<body>
<a href="/spring/upload">upload</a>
<h2>ارتباط WebSocket با JWT</h2>
<div>
    <input type="text" id="messageInput" placeholder="پیام خود را بنویسید">
    <button onclick="sendMessage()">ارسال</button>
</div>
<div id="messages"></div>


</body>

</html>