<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<title th:text="${title}">title</title>-->
</head>

<!--
<link media="all" th:href="@{'/resource/'+${version}+'?path=css/upload-download.css'}" rel="stylesheet"/>
<script type="text/javascript" th:src="@{'/resource/'+${version}+'?path=js/upload-download.js'}"></script>
-->

<script type="text/javascript" th:src="@{'/resource/'+${version}+'?path=js/html5.js'}"></script>
<script type="text/javascript" th:src="@{'/resource/'+${version}+'?path=js/websocket.js'}"></script>



<body>
<a href="/spring/upload">upload</a>
<h2>ارتباط WebSocket با JWT</h2>
<div>
    <input type="text" id="messageInput" placeholder="پیام خود را بنویسید">
    <button onclick="ws.sendMessage()">ارسال</button>
</div>
<div id="messages" style="overflow-y: scroll;width: 600px;height: 400px;"></div>


</body>

</html>